@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h2>@ViewBag.Name.</h2>
<h3>@ViewBag.Username</h3>
<h3>@ViewBag.Subject</h3>
<h3>@ViewBag.TenantId</h3>
<p>Use this area to provide additional information.</p>
